/* chewy-regular - latin */
@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/chewy-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Chewy Regular'), local('Chewy-Regular'),
       url('fonts/chewy-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/chewy-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/chewy-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/chewy-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/chewy-v10-latin-regular.svg#Chewy') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

.header, h1, h2, h3, h4, h5, h6 {
  font-family: 'Chewy', cursive;
}
h1 { font-size:38pt!important; }
h2 { font-size:36pt!important; }
h3 { font-size:34pt!important; }
h4 { font-size:32pt!important; }
h5 { font-size:30pt!important; }
h6 { font-size:28pt!important; }

.shade_black  {
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 0;
}

.remark-slide-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 24pt!important;
}

/** bullet **/

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\27A4";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/** split slides - should move these to ninjitsu**/

.split-100 >.column:first-of-type {
  width: 100%; height:100%; position: absolute; top: 0; left: 0;
}
.split-80 >.column:first-of-type {
  width: 80%; height:100%; position: absolute; top: 0; left: 0;
}
.split-80 >.column:nth-of-type(2) {
  width: 20%; height:100%; position: absolute; top: 0; left: 80%;
}
.split-85 >.column:first-of-type {
  width: 85%; height:100%; position: absolute; top: 0; left: 0;
}
.split-85 >.column:nth-of-type(2) {
  width: 15%; height:100%; position: absolute; top: 0; left: 85%;
}

.split-90 >.column:first-of-type {
  width: 90%; height:100%; position: absolute; top: 0; left: 0;
}
.split-90 >.column:nth-of-type(2) {
  width: 10%; height:100%; position: absolute; top: 0; left: 90%;
}

/* this is necessary for printing */
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.item-bg {
  background-size: cover;
  border-right-style: solid;
}

.shade_black > a {
  color: white!important;
}

.round_pad {
  padding: 4px;
  border-radius: 20px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }


.bubble1 {
  display: block;
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	text-align: center;
	padding: 0.1em;
}

.bubble1:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 80px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-top: 0;
	margin-top: -20px;
	margin-left: -40px;
}

.pos {
  position: absolute;
}

.question {
  text-align: center;
  font-size: 36pt!important;
  padding-left:17%;
  padding-right:10%;
  background-color:#0066cc;
  background-image: url("../images/question.png");
  background-position: 5% 90%;
  background-size: 150px;
  color: white;
}

.info {
  text-align: left;
  padding-left:20%;
  background-color:#90002c;
  background-image: url("../images/info.png");
  background-position: 5% 90%;
  background-size: 150px;
  color: white;
}

.challenge {
  text-align: left;
  padding-left:20%;
  font-size: 50pt!important;
  background-color:#ffa500;
  background-image: url("../images/coding.png");
  background-position: 5% 90%;
  background-size: 150px;
  color: white;
}

.challenge h1 {
  font-size: 55pt!important;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;    
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }


.remark-code {
  font-size: 24pt;
}

.font_small .remark-code {
  font-size: 18pt;
}

.font_smaller .remark-code {
  font-size: 16pt;
}

.question a {
  color: white;
}

.info code {
  color: yellow;
}

li{
  margin: 10px 0;
}

.checklist ul li::before {
  content: "☑";
}

.pad10 {
  padding: 20px;
}
